@model DietMealApp.Core.ViewModels.ProductRow

<tr class="d-table-row">
    <td style="width:70%">
        <select class="select-normal" id="selectedProduct_@Model.Index" name="MealProducts[@Model.Index].ProductId">
            <option selected> --Wybierz produkt-- </option>
            @foreach (var product in Model.Products)
            {
                <option value="@product.Id">@product.ProductName</option>
            }
        </select>
    </td>
    <td style="width:30%">
        <input id="quantity" class="form-control" name="MealProducts[@Model.Index].Quantity" placeholder="Ilość" />
    </td>
    <td>
        <button type="button" style="color:red" onclick="DeleteRow(this)" class="btn"><i class="fa fa-close"></i></button>
    </td>
    <input type="hidden" name="MealProducts[@Model.Index].MealId" />
</tr>