@model DietMealApp.Core.DTO.Meals.MealFormDTO
@using DietMealApp.Core.Enums;
@{

}

<h1>Dodaj posiłek</h1>

<form method="post" class="mt-3" id="mealForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    
    <div class="form-group row">
        <label asp-for="MealName" class="col-sm-2 col-form-label">
            Nazwa
        </label>
        <div class="col-sm-4">
            <input asp-for="MealName" class="form-control" placeholder="Wprowadź nazwę">
            <span asp-validation-for="MealName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="TypeOfMeal" class="col-sm-2 col-form-label">
            Typ
        </label>
        <div class="col-sm-4">
            <select class="form-control" asp-for="TypeOfMeal"
                    asp-items="Html.GetEnumSelectList<MealTimeType>()">
            </select>
            <span asp-validation-for="TypeOfMeal" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label">
            Opis
        </label>
        <div class="col-sm-6">
            <textarea rows="5" asp-for="Description" class="form-control" placeholder="Maksymalnie 1000 znaków"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <hr class="dashed">
    <table id="productsTable" style="width:100%">
        <tr>
            <th style="width:60%" class="col">Nazwa produktu</th>
            <th style="width:30%" class="col">Ilość (w gramach)</th>
            <th style="width:10%" class="col"></th>
        </tr>
        @if (Model.MealProducts != null)
        {
            @for (int i = 0; i < Model.MealProducts.Count; i++)
            {
                <tr class="d-table-row">
                    <td style="width:70%">
                        <select class="select-normal" id="selectedProduct_@i" name="MealProducts[@i].ProductId">
                            <option selected> --Wybierz produkt-- </option>
                            @foreach (var product in Model.Products)
                            {
                                <option value="@product.Id">@product.ProductName</option>
                                
                            }
                        </select>
                    </td>
                    <td style="width:30%">
                        <input id="quantity" class="form-control" name="MealProducts[@i].Quantity" placeholder="Ilość" />
                    </td>
                    <td>
                        <input type="button" onclick="DeleteRow(this)" class="btn btn-link" style="margin-top:10px" />
                    </td>
                    <input type="hidden" name="MealProducts[@i].MealId" />
                </tr>
            }
        }

    </table>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="button" id="add-row" class="btn btn-link"><i class="fa fa-plus"></i> Dodaj produkt</button>
        </div>
        <div class="col-sm-12" style="display:flex; justify-content:flex-end">
            <button style="margin-right:10px" type="submit" class="btn btn-primary">Dodaj</button>
            <a asp-action="Index" class="btn btn-danger">Wróć do listy posiłków</a>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
<script type="text/javascript">

    $(document).on("click", "#add-row", function () {
        var indexProductTable = document.getElementById("productsTable").rows.length - 1;
        $.ajax({
            method: "GET",
            url: "/Meal/AddProductRow?index=" + indexProductTable,
            success: function (data) {
                $("#productsTable").append(data);
            }
        });
    });

    function DeleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("productsTable").deleteRow(i);
    };

    $(document).ready(function () {
        const mealForm = document.querySelector('#mealForm');
        mealForm.addEventListener('submit', function resetFields() {

            var count = 0;
            var products = $("#productsTable .select-normal");
            $.each(products, function () {
                $(this).attr(`name`, `MealProducts[${count}].ProductId`);
                count++;
            });

            var count = 0;
            var quantity = $("#productsTable .form-control");
            $.each(quantity, function () {
                $(this).attr(`name`, `MealProducts[${count}].Quantity`);
                count++;

            });
        });
    });



</script>