@model DietMealApp.Core.DTO.Meals.MealFormDTO 
@{
    ViewData["Title"] = "Usuń posiłek";
}
<h1>Potwierdzenie usunięcia</h1>

<div class="alert alert-danger">
    <h5>Czy jesteś pewien, że chcesz usunąć posiłek o nazwie: @Model.MealName?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Tak</button>
        <a class="btn btn-primary" asp-action="Index">Nie</a>
    </form>
</div>