@model DietMealApp.Core.DTO.Days.DayFormDTO
@{
    ViewData["Title"] = "Usuń dzień";
}
<h1>Potwierdzenie usunięcia</h1>

<div class="alert alert-danger">
    <h5>Czy jesteś pewien, że chcesz usunąć dzień diety o nazwie: @Model.Name?</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Tak</button>
        <a class="btn btn-primary" asp-action="Index">Nie</a>
    </form>
</div>