span.circle {
    background: #c5d6f7;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #000000;
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .con span {
        font-size: 12px;
    }

.container-center {
    text-align: center;
}

.mealContent{
    position:relative
}

.desc {
    text-align: justify;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    position: relative
}

.bot-right-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.bot-left-corner {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.75em;
    padding: 1em;
    line-height: 1em;
    opacity: .8;
}

.button-21 {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: no-drop;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: 25px;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

    .button-21:active,
    .button-21:focus {
        outline: none;
    }

    .button-21:hover {
        background-position: -20px -20px;
    }

    .button-21:focus:not(:active) {
        box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
    }
