@model DietMealApp.Core.DTO.Products.ProductDTO
@using DietMealApp.Core.Enums;
@{

}
<h1>Dodaj Produkt</h1>

<form id="createProduct" enctype="multipart/form-data" method="post" class="mt-3">
    <div class="row mb-3">
        <div class="col">
            <div class="form-group row mb-3">
                <label asp-for="ProductName" class="col-sm-4 col-form-label fw-bold">
                    Nazwa
                </label>
                <div class="col">
                    <input asp-for="ProductName" class="form-control" placeholder="Nazwa produktu">
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="Category" class="col-sm-4 col-form-label fw-bold">
                    Kategoria
                </label>
                <div class="col">
                    <select class="form-control" asp-for="Category"
                            asp-items="Html.GetEnumSelectList<ProductCategories>()">
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="Kcal" class="col-sm-4 col-form-label fw-bold">
                    Kalorie
                </label>
                <div class="col">
                    <input type="text" asp-for="Kcal" class="form-control" placeholder="Ilość kalorii">
                    <span asp-validation-for="Kcal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="Protein" class="col-sm-4 col-form-label fw-bold">
                    Białka
                </label>
                <div class="col">
                    <input type="text" asp-for="Protein" class="form-control" placeholder="Ilość białka">
                    <span asp-validation-for="Protein" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="Carbohydrates" class="col-sm-4 col-form-label fw-bold">
                    Węglowodany
                </label>
                <div class="col">
                    <input type="text" asp-for="Carbohydrates" class="form-control" placeholder="Ilość węglowodanów">
                    <span asp-validation-for="Carbohydrates" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="Fats" class="col-sm-4 col-form-label fw-bold">
                    Tłuszcze
                </label>
                <div class="col">
                    <input type="text" asp-for="Fats" class="form-control" placeholder="Ilość tłuszczy">
                    <span asp-validation-for="Fats" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="Unit" class="col-sm-4 col-form-label fw-bold">
                    Jednostka
                </label>
                <div class="col">
                    <select class="form-select" asp-for="Unit"
                            asp-items="Html.GetEnumSelectList<Unit>()">
                    </select>
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="QuantityUnit" class="col-sm-4 col-form-label fw-bold">
                    Ilość jednostek
                </label>
                <div class="col">
                    <input type="text" asp-for="QuantityUnit" class="form-control" readonly>
                    <span asp-validation-for="QuantityUnit" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block ">Dodaj</button>
                    <a asp-action="Index" class="btn btn-danger btn-block">Wróć</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group row">
                <div class="col" lang="pl">
                    <img style="display:none" id="PhotoPreview" src="#" alt="image" />
                    <input asp-for="Photo" type="file" onchange="readURL(this);" class="form-control form-control-sm fw-bold">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                    $(this).value = "Zmień plik";
                });
            });
            function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#PhotoPreview')
                        .attr('src', e.target.result)
                        .width(300)
                        .height(300);
                    $('#PhotoPreview').show();
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    }
</form>