@model DietMealApp.Core.DTO.Products.ProductDTO
@using DietMealApp.Core.Enums;
@{

}
<h1>Dodaj Produkt</h1>

<form id="createProduct" enctype="multipart/form-data" method="post" class="mt-3">

    <div class="row">
        <div class="col">
            <div class="form-group row">
                <label asp-for="ProductName" class="col-3 col-form-label">
                    Nazwa
                </label>
                <div class="col">
                    <input asp-for="ProductName" class="form-control" placeholder="Nazwa produktu">
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Category" class="col-3 col-form-label">
                    Kategoria
                </label>
                <div class="col">
                    <select class="form-control" asp-for="Category"
                            asp-items="Html.GetEnumSelectList<ProductCategories>()">
                    </select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Kcal" class="col-3 col-form-label">
                    Kalorie
                </label>
                <div class="col">
                    <input type="text" asp-for="Kcal" class="form-control" placeholder="Ilość kalorii">
                    <span asp-validation-for="Kcal" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Protein" class="col-3 col-form-label">
                    Białka
                </label>
                <div class="col">
                    <input type="text" asp-for="Protein" class="form-control" placeholder="Ilość białka">
                    <span asp-validation-for="Protein" class="text-danger"></span>
                </div>
            </div>
            <label asp-for="Carbohydrates" class="col-3 col-form-label">
                Węglowodany
            </label>
            <div class="col">
                <input type="text" asp-for="Carbohydrates" class="form-control" placeholder="Ilość węglowodanów">
                <span asp-validation-for="Carbohydrates" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Fats" class="col-3 col-form-label">
                Tłuszcze
            </label>
            <div class="col">
                <input type="text" asp-for="Fats" class="form-control" placeholder="Ilość tłuszczy">
                <span asp-validation-for="Fats" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Unit" class="col-3 col-form-label">
                Jednostka
            </label>
            <div class="col">
                <select class="form-control" asp-for="Unit"
                        asp-items="Html.GetEnumSelectList<Unit>()">
                </select>
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="QuantityUnit" class="col-3 col-form-label">
                Ilość jednostek
            </label>
            <div class="col">
                <input type="text" asp-for="QuantityUnit" class="form-control" placeholder="Ilość jednostek">
                <span asp-validation-for="QuantityUnit" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Dodaj</button>
                <a asp-action="Index" class="btn btn-danger">Wróć</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="form-group row">
            <label asp-for="Photo" class="col col-form-label">
                Zdjęcie produktu
            </label>
            <div class="col" lang="pl">
                <img style="display:none" id="PhotoPreview" src="#" alt="image" />
                <input asp-for="Photo" type="file" onchange="readURL(this);" class="form-control-file">
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
        </div>
    </div>
    </div>


    @section Scripts{
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                    function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#PhotoPreview')
                                .attr('src', e.target.result)
                                .width(300)
                                .height(300);
                            $('#PhotoPreview').show();
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                function increaseValue() {
          var value = parseInt(document.getElementById('number').value, 10);
          value = isNaN(value) ? 0 : value;
          value++;
          document.getElementById('number').value = value;
        }

        function decreaseValue() {
          var value = parseInt(document.getElementById('number').value, 10);
          value = isNaN(value) ? 0 : value;
          value < 1 ? value = 1 : '';
          value--;
          document.getElementById('number').value = value;
        }
    </script>
    }
</form>