@model List<DietMealApp.Core.DTO.ShoppingDaysDTO>
@using DietMealApp.Core.Enums;
@{

}
<h1>Generuj Listę zakupów</h1>
<div class="row">
    <button id="btnsubmit" class="btn btn-primary">Generuj listę</button>
</div>

<div class="row">
    <a asp-action="SendEmail">Wyślij mail</a>
</div>

<form id="shoppingList" method="post" class="mt-3">
    <table id="daysTable">
        <tr>
            <th style="width:30%" class="col">Dzień</th>
            <th style="width:20%" class="col">Liczba dni</th>
        </tr>
        @for (int i = 0; i < @Model.Count; i++)
        {
            <tr class="d-table-row">
                <td style="width:70%">
                    @Html.HiddenFor(a=>a[i].Day.Id)
                    <label class="col-form-label">@(Model[i].Day.Name + " (" + Model[i].Day.DayMeals.Where(a=>a.Meal.TypeOfMeal == MealTimeType.Lunch).Select(a=>a.Meal.MealName).FirstOrDefault()+ ")") </label>
                </td>
                <td style="width:30%">
                    @Html.TextBoxFor(a=>a[i].Quantity, htmlAttributes: new { @class = "form-control"})
                </td>
            </tr>
        }
    </table>

    <div id="shoppingProductsList">

    </div>
</form>



<script type="text/javascript">
    $(document).ready(function () {
        $("#btnsubmit").click(function () {
            var data = $('#shoppingList').serialize(); 
            $.ajax({
                type: 'post',
                //dataType: 'json', 
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                cache: false,
                url: "/Shopping/Generate",
                data: data,
                success: function (data, textStatus, jqXHR) {
                    $("#shoppingProductsList").html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error: " + textStatus + ". ErrorThrown: " + errorThrown );
                }
            });
        });
    });
</script>