@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cześć! Zaczynajmy!</h1>
    

    <form asp-action="Upload" asp-controller="Home" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button type="submit">Upload</button></form>
</div>
