@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    

    <form asp-action="Upload" asp-controller="Home" enctype="multipart/form-data">
        <img src="@Model">
        <input type="file" name="file"/>
        <button type="submit">Upload</button></form>

</div>
