@using DietMealApp.Core.ViewModels.Identity
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>

<p>Na Twój adres e-mail został wysłany link. Po kliknięciu w niego będziesz mógł w pełni korzystać ze swojego konta.</p>