@using DietMealApp.Core.ViewModels.Identity
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>

<p>Dziękujemy za potwierdzenie Twojego adresu e-mail. Kliknij <a asp-action="Login">tutaj</a> aby się zalogować.</p>