@model DietMealApp.Core.ViewModels.DayRow

<tr class="d-table-row">
    <td style="width:10%">
        <label>@(Model.Index + 1)</label>
    </td>
    <td style="width:60%">
        <select class="select-normal" id="selectedDay_@Model.Index" name="Days[@Model.Index].DayId">
            <option selected> --Wybierz dzień-- </option>
            @foreach (var day in Model.Days)
            {
                <option value="@day.Id">@(day.Name + " (" + day.Kcal + " kcal)")</option>
            }
        </select>
    </td>
    <td>
        <button type="button" style="color:red" onclick="DeleteRow(this)" class="btn"><i class="fa fa-close"></i></button>
    </td>
    <input type="hidden" name="Days[@Model.Index].DietId" />
</tr>